 atom-text-editor.editor {
  font-family: "OperatorMono-Book";
  text-rendering: optimizeLegibility;
  font-weight: 400;
  line-height: 1.5;

  .syntax--entity.syntax--other.syntax--attribute-name,
  .syntax--type.syntax--function,
  .syntax--storage.syntax--type.syntax--class,
  .syntax--type.syntax--var,
  .syntax--meta.syntax--parameters,
  .syntax--keyword.syntax--control,
  .syntax--modifier {
      font-family: "OperatorMono-Book";
      font-size: 1em;
      font-style: italic;
  }

  .syntax--name.syntax--function,
  .syntax--variable.syntax--default,
  .syntax--name.syntax--class {
    font-weight: 600;
  }

  .comment, .syntax--comment {
    font-family: "OperatorMono-BookItalic";
    font-style: normal;
  }
}
