.type.storage,.type.storage.declaration, .storage.class.modifier {
  font-family: 'OperatorMono-Medium';
  font-size: 1.7em;
}
.type.storage.arrow.function {
  font-family: 'Fira Code'
}
.decorator.name, .decorator.punctuation:not(.block), .import.keyword {
    font-family: 'OperatorMono-Medium';
    font-size: 1.7em;
}
.attribute-name {
    font-family: 'OperatorMono-Medium';
    font-size: 1.5em;
}

.comment:not(.punctuation) {
    font-family: 'OperatorMono-Medium';
    font-size: 1.5em;
}
